/**
 * ATOM: Icon Styles
 */

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.icon--sm {
  width: 16px;
  height: 16px;
  font-size: var(--text-sm);
}

.icon--md {
  width: 24px;
  height: 24px;
  font-size: var(--text-lg);
}

.icon--lg {
  width: 32px;
  height: 32px;
  font-size: var(--text-2xl);
}
